
.logImg {
    -webkit-animation: fadeIn 1s ease both;
            animation: fadeIn 1s ease both;
}



.index1{
    background-image: url("../images/header/1.jpg");
    background-size: auto 100%;
    background-position: 100%;
}
.index2{
    background-image: url("../images/header/2.jpg");
    background-size: auto 100%;
    background-position: 100% 0%;
}
.index3{
    background-image: url("../images/header/3.jpg");
    background-size: auto 100%;
    background-position: 100% 0%;
}
.index4{
    background-image: url("../images/header/4.jpg");
    background-size: 100% 100%;
    background-position: 100% 0%;
}
.index5{
    background-image: url("../images/header/5.jpg");
    background-size: 100%;
    background-position: 100% 0%;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
      }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
      }
}
