.point4{
    top: 95%!important;
}
.icoList{
    width: 100%;
    position: absolute;
    top: 85%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;  
}
.icoList li{
    -webkit-box-flex:1;
    -webkit-flex:1;
        -ms-flex:1;
            flex:1;
    margin:0 10px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.weixin{
    padding: 10px 6px;
    position: absolute;
    text-align: center;
    bottom: 60px;
    left: 50%;
    -webkit-transform:translateX(-50%);
            transform:translateX(-50%);
    background:#ffffff; 
}
.weixin:after{
    content: '';
    position: absolute;
    bottom: -9px;
    left: 45%;
    border-top: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

}
.sliderImg{
    height: 100%;
    background-size: cover;
}
.subbrand1{
    background-image: url("../images/subbrand/brand1.jpg");
    background-size: auto 100%;

}
.subbrand2{
    background-image: url("../images/subbrand/brand2.jpg");
    background-size: auto 100%;

}
.subbrand3{
    background-image: url("../images/subbrand/brand3.jpg");
    background-size: auto 100%;

}
.subbrand4{
    background-image: url("../images/subbrand/brand4.jpg");
    background-size: auto 100%;

}
.subbrand5{
    background-image: url("../images/subbrand/brand5.jpg");
    background-size: auto 100%;

}